.html
.xml
.pdf
draft-aqua-network-architecture.xml
stupid-s.html
stupid-s.mkd
stupid-s.txt
draft-aqua-network-architecture.xml~
stupid-s.xml
.refcache/computed-reference.DOI.10.1126_science.aam9288.xml
*.xml
*.md~
